a{
    text-decoration: none;
}

.navbar-wrapper {
    border-radius: 5px;
    padding: 1rem;
    background-color: var(--nav-bar-color);
}

.theme-icon{
    color: var(--input-text-color); font-size: 1.5rem; cursor: pointer;
}
.navbar-wrapper .logo a{
    color: #000 !important;
    font-size: xx-large; 
    letter-spacing: 5px;
}


.search-bar {
    position: relative;
    color: var(--input-text-color);
    font-size: larger;
    border: none;
    background-color: transparent;
    border: 1px solid #ccc;}


.input-parent {
    position: relative;
}

#result-list {
    position: absolute;
    display: none;
    width: 74.5%;
    left: 9.1rem;
    background-color: var(--list-card-color);
    color: var(--nav-bar-color);
    max-height: 400px;
    overflow-y: scroll !important;
    z-index: 9;

}

#result-list > .auto-complete {
    font-size: 1.5rem;
    letter-spacing: 0;
    padding: 10px;
    border-bottom: 1px solid var(--nav-bar-color);}

.movie-base-title > a {color: var(--input-text-color); text-decoration: none;}
.auto-complete:hover {background-color: var(--list-hover-color);}

button{
    font-size: 15px !important;
    padding: 3px !important;
}

#toggle-btn {
    background-color: brown;
    border: none;
    outline: none;
}




.input-bar {
    position: absolute;
    z-index: 9;
}


@media (300px <= width <= 600px){
    #btn-mode {
        margin-top: 1rem;
    }
    #result-list{
        width: 60%;
    }
}
@media (600px <= width <= 775px){
    #btn-mode {
        margin-top: 1rem;
    }
    #result-list{
        width: 60%;
    }
}